.home-page {
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
}

.home-page img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.overall-home {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* 
.head-text {
  position: relative;
  text-align: center;
} */

.text-on-background {
  position: absolute;
  left: 90px;
  top: 50px;
  font-family: "Brush Script MT";
  font-size: 5vw;
  color: white;
  margin: 0;
  padding: 0;
}




.about-me {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 75vh;
  margin: 2% auto;
  box-shadow: 0 0 15px 2px gray;
  font-size: 2vw;
}

.owner{
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 80%;
  margin-top:1%;
}

.owner img{
  height: 100%;
  width: 100%;
  max-width: 400px;
}

.owner h2 {
  margin-bottom: 0;
}

.description{
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 50%;
  margin-top:1%;
}

.description img {
  margin-top: 5%;
  height: 100%;
  width: 95%;
  max-width:500px;
}



.forms { 
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-form {
  padding: 50px 50px;
  margin: 30px 0;
  box-shadow: 0 0 15px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.register-form {
  padding: 50px 50px;
  margin: 30px 0;
  box-shadow: 0 0 15px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.services-page{
  text-align: center;
}

.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service-item{
  padding: 0 10px;
}

.service-item img {
  width: 300px;
  height: 300px
}




.builds {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.before-and-after-container{
  background-color: rgb(255, 255, 255);
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0;
  box-shadow: 0 0 15px 2px gray;
}

.before-and-after-container h2{
  margin-bottom: 0;
}

.before-and-after-img {
  display: flex;
  justify-content: space-around;
  width: 95%;
  padding-top:2%;
}

.before-and-after-img img {
  width: 47.5%;
  /* height: 85%; */
}

