.app-header {
  text-align: center;
  top: 0px;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
    color: #fff;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  letter-spacing: 1.2em;
  /* border-radius: 90px; */
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
  padding-bottom: 1.2em;
  bottom:0;
  margin-top: auto;


    }
